#greeting {
  color: #ffffff;
}
#logout-btn,
.view-user-btn,
#dashboard-results,
.admin-report-toggle {
  border: none;
  outline: none;
  padding: 5px;
  cursor: pointer;
  color: #4c5582;
  font-size: large;
  border-radius: 10px;
  background: #ffffff;   
}
.view-user-btn,
.admin-report-toggle {
  font-size: medium;
  font-family: inherit;
}
#logout-btn {
  position: relative;
  z-index: 9999;
}
#logout-btn:hover,
.last-reportBtn:hover,
#dashboard-results:hover {
  color: #ffffff;
  background: skyblue;
}
#dashboard-assess {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
}
#dashboard-img {
  margin: 10px;
  max-width: 250px;
  align-self: center;
  border-radius: 20%;
  border: 2px solid #ccc;
  box-shadow: 1px 1px 1px 1px #ffffff; 
}
#previous-results {
  margin: 20px 0;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.welcome {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logout-message {
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  text-align: center;
}

#auth-error {
  color: orange; /* Default error color */
}
#dashboard-error-message {
  width: 100%;
  color: orange;
  margin-top: 10px;
  text-align: center;
  font-size: smaller;
  font-style: italic; 
}
.attempts-list,
.last-reportBtn {
  font-size: smaller;  
}
#previous-results {
  text-align: center;
}
.last-reportBtn {
  border: none;
  outline: none;
  color:#4c5582;
  padding: 5px 10px;
  border-radius: 5px;
  background:#ffffff;  
}
.show-dash-report {
  text-align: left;
}
#dashboard-loader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width:200px;
  color:aqua;
  margin: auto;
  height:200px;
  padding: 1rem;
  position: fixed;
  text-align: center;
}
/* iPhone fixes */
/* Prevent touch highlights */
* {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

/* Fix for Safari rendering */
.attempt-card, .show-dash-report {
  transform: translateZ(0);
}

#admin-results-container {
  width: 96%;
  margin: auto;
  height: 350px;
  overflow-y: scroll;
  margin-bottom: 10px;
  background: #394062;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 1px 1px 2px 2px #626a92;
}
.admin-user-card {
  font-size: small;
}
#message,
#admin-greeting {
  color: #ffffff;
  text-align: center;
}
#admin-greeting {
  justify-self: center;
}
.admin-report-toggle {
  width: 100%;
  margin-top: 5px;
}