#greeting {
    color: #ffffff;
}
#logout-btn,
#dashboard-results {
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    color: #4c5582;
    font-size: large;
    border-radius: 10px;
    background: #ffffff;   
}
#logout-btn {
    position: relative;
    z-index: 9999;
}
#logout-btn:hover,
#dashboard-results:hover {
    color: #ffffff;
    background: skyblue;
}
#dashboard-assess {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
#dashboard-img {
    margin: 10px;
    max-width: 250px;
    align-self: center;
    border-radius: 20%;
    border: 2px solid #ccc;
    box-shadow: 1px 1px 1px 1px #ffffff; 
}
#previous-results {
    margin: 20px 0;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.welcome {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logout-message {
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  text-align: center;
}

#auth-error {
  color: orange; /* Default error color */
}